* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(140deg, rgba(54, 64, 80, 1) 31%, rgba(0, 0, 0, 1) 434%); */
    background-color: #364050;
    width: 100%;
    height: 100%;
    /* height: 100vh; */
}

::-webkit-scrollbar{
    display: none;
}

.header {
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 0.507) 0.55%, rgba(0, 0, 0, 5) 100.2%);
    color: white;
    font-size: 2rem;
    padding: 1.2rem 0.8rem;

}

.logo .bold {
    font-weight: 600;
    font-size: 2.2rem;
}

.home-header {
    padding: 20px 15px;
}

.home-l {
    margin-bottom: 10px;
}

.user-name {
    color: #00ffff;
    font-weight: bold;
    font-size: 1.2rem;

}

.home-r {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salutation-day {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: relative;
    cursor: pointer;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

.user-img #img-src {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 3%;
    width: 44px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.user-img #take-img {
    position: absolute;
    top: -7%;
    left: -2%;
    cursor: pointer;

}

#take-img i {
    opacity: 0.7;
    font-size: 3.5rem;
    color: #5440ea;
    cursor: pointer;
}

.line {
    display: block;
    width: 98%;
    height: 1px;
    background-color: #ffffffa7;
    margin: 0 auto;
    border: 1px solid #ffffffa7;
    border-style: dotted;
    margin-bottom: 1rem;
}

.dashbord-list {
    padding: 12px 15px;
}

.current-date,
.current-location,
.current-feeling,
.current-temperature {
    margin-bottom: 1.5rem;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #008cff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

i {
    filter: brightness(4);
    color: white;
    font-size: 1.4rem;
}

.current-date,
.current-location,
.current-temperature {
    display: flex;
    gap: 10px;
    align-items: center;

}

.date-text,
.location-text,
.temperature-text,
.feeling-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.date-text span:nth-child(1),
.location-text span:nth-child(1),
.temperature-text span:nth-child(1) {
    font-size: 1rem;
    color: #ffffff;

}

.date-text span:nth-child(2),
.location-text span:nth-child(2),
.temperature-text span:nth-child(2) {
    /* font-size: 1rem; */
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.current-feeling .upp {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.down {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 2rem;
    background-color: #0000005a;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 6px;
    filter: contrast(2);
    margin-bottom: 2rem;
}

.down span {
    cursor: pointer;
}

.next-page-direction {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.next-page-direction span:nth-child(1) {
    color: white;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.next-page-direction span:nth-child(2) {
    text-transform: uppercase;
    color: #00ffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.next-page-direction span:nth-child(2) i {
    color: #00ffff;
    font-size: 1.2rem;
    margin-left: 5px;
    cursor: pointer;
}

.clock {
    background-color: #7F27FF;
}

.location {
    background-color: #FF8911;
}

.temperature {
    background-color: #59B4C3;
}

.feeling {
    background-color: #15F5BA;
}

/**********Page 2**********/

.list-of-works,
.list-of-works-All {
    padding: 5px 10px;
}

.work-1,
.work-All {
    background-color: #1b2841a7;
    padding: 15px 15px;
    border-radius: 6px;
    margin-bottom: 1.2rem;
    cursor: pointer;
}

.work-name,
.work-name-All {
    display: flex;
    align-items: center;
    gap: 12px;
}

.work-name input,
.work-name-All input {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    cursor: pointer;
}

/* input[type="checkbox"]:checked {
    background-color: #00ffff;
    border: 1px solid #00ffff;
    color: #fff;
} */

.work-text,
.work-text-All {
    font-family: monospace;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.work-information,
.work-information-All {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 35px;
}

.alram-box,
.alram-box-All,
.information-box,
.information-box-All {
    display: flex;
    align-items: center;
    gap: 8px;
}

.alram-box span i,
.alram-box-All span i {
    color: #2d2d2d;
    font-size: 1.2rem;
    cursor: pointer;
}

.time-stamp,
.time-stamp-All {
    color: #adadad;
    font-size: 1rem;
}

.information-box span i,
.information-box-All span i,
.work-type,
.work-type-All {
    color: aqua;
    font-size: 1.2rem;
    cursor: pointer;
}

/* .information-box .important i{
    color: #FF8911;
    float: right;
} */
/* .controller-section{
    position: relative;
} */
.controller-container {
    padding: 20px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1b2841a7;
    position: fixed;
    bottom: 0;
}

.controller-container i {
    font-size: 1.6rem;
    cursor: pointer;
}

.controller-container span {
    background-color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    cursor: pointer;
    z-index: 2;
}

#to-add {
    font-size: 1.6rem;
}


/* table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
} */
#calendar {
    padding: 5px 15px;
    overflow-y: scroll;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

#calendar::-webkit-scrollbar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.back {
    background-color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.back1 {
    background-color: #ffd500;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}



.body-4-section {
    width: 100%;
}


.right-side table {
    width: 50%;
    border-collapse: collapse;
}

.right-side th,
.right-side td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    color: black;
}

.darken {
    background-color: rgba(0, 0, 0, 0.428);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
}

.body-4-section {
    width: 100%;
}

.conatiner {
    border-radius: 10px;
    position: absolute;
    font-family: monospace;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 70px 5px;
    left: 15%;
    top: 14%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.406);
    z-index: 2;
}

.left-side h1 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

/* .left-side span, .left-side label{
    font-size: 1.2rem;
    font-family: monospace;
    margin-bottom: 1rem;
}
.left-side input{
    margin-bottom: 1rem;
} */
.control-1,
.control-2,
.control-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: center;
}

.heading-task,
.alaram-timing-heading {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

#task-name,
#alaram-timing,
#task-date {
    padding: 5px;
    font-size: 1.2rem;
}

.radios {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
}

.radios label {
    font-size: 1.5rem;
    margin-right: 10px;
}

.radios input {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.right-side h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.right-side {
    position: relative;
}

#prevMonth,
#nextMonth {
    padding: 5px 10px;
    position: absolute;
    background-color: white;
    border-radius: 3px;

}

#prevMonth {
    top: 0;
}

#nextMonth {
    top: 0%;
    right: 0%;
}

.show {
    display: "";
}

.hide {
    display: none;
}


.close-btn i {
    color: black;
    position: absolute;
    top: 5%;
    border: 2px solid black;
    padding: 3px;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}

.close-btn i:active {
    transform: scale(0.9);
}

.submit-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #364050;
    color: #15F5BA;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.submit-btn:active {
    filter: brightness(0.9);
}


/*************************************progerss************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: white;
    width: 350px;
    height: 50px;
    border-radius: 4px;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    position: relative;
  transition: all 0.9s;
  margin-bottom: 1.5rem;
  transform: translateX(-1400px);
  
}

.cart-added-text{
    margin-bottom: 0;
    font-size: 1.2rem;
}
.box .line2{
    position: absolute;
    /* content: ""; */
    /* display: block; */
    height: 5px;
    width: 100%;
    background-color: rgb(21, 221, 21);
    bottom: 0px;
    left: 0;
}
